---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blogpost")
  return allBlogPosts.map(post => ({
    params: { blog_post: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title="FerranJS" description="metaDescription" backButton={true}>
  <main id="blogpost" class="my-24 flex justify-center">
    <div
      class="px-7 text-[1.2rem] font-thin sm:w-5/6 xl:w-4/6 [&>h3]:mb-3 [&>h3]:mt-4 [&>h3]:text-center [&>h3]:font-heming [&>h3]:text-2xl [&>p]:mb-3 [&>p]:indent-7"
    >
      <h2 class="mb-10 text-center font-heming text-4xl font-bold lg:text-5xl">{post.data.title}</h2>
      <Content />
    </div>
  </main>
</Layout>
