---
import Layout from "../layouts/Layout.astro"
import Projects from "../components/Projects.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import { languages } from "../i18n/languages"
import Contact from "../components/Contact.astro"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="FerranJS" description={t("metaDescription")}>
  <main>
    <section class="flex h-screen items-center">
      <div class="px-7 pr-10 text-[1.2rem] font-thin sm:px-24 xl:px-48 [&>p]:mb-1 [&>p]:max-w-2xl">
        <h1 class="mb-2 font-heming text-6xl font-bold sm:text-[5rem]">
          Ferran Ram<span class="text-[3.88rem] font-normal sm:text-[5.2rem]">í</span>rez
        </h1>
        <h2 class="mb-6 font-heming text-4xl font-medium leading-[1.15] sm:text-5xl">
          <span class="u underline !decoration-[3px] !underline-offset-[5px]"> full stack</span> developer
        </h2>
        <p>
          {
            lang == "es" ? (
              <>
                <span class="u underline !decoration-[1.3px]">Ingeniero</span> de Software con 2 años de
                experiencia como desarrollador
                <span class="u underline !decoration-[1.3px]">Full Stack</span>, experimentado en
              </>
              // ) : lang == "de" ? (
              //   <>
              //     Software <span class="u underline !decoration-[1.3px]">Ingenieur</span> mit 2 Jahren Erfahrung
              //     als
              //     <span class="u underline !decoration-[1.3px]">Full Stack</span> Entwickler, erfahren in
              //   </>
              // ) : lang == "fr" ? (
              //   <>
              //     <span class="u underline !decoration-[1.3px]">Ingénieur</span> logiciel avec 2 ans d'expérience
              //     en tant que
              //     <span class="u underline !decoration-[1.3px]">Full Stack</span> développeur, expérimenté en
              //   </>
              // ) : lang == "it" ? (
              //   <>
              //     <span class="u underline !decoration-[1.3px]">Ingegnere</span> software con 2 anni di
              //     esperienza come
              //     <span class="u underline !decoration-[1.3px]">Full Stack</span> developer, esperto in
              //   </>
            ) : lang == "ru" ? (
              <>
                <span class="u underline !decoration-[1.3px]">Инженер</span> программного обеспечения с 2
                годами
                <span class="u underline !decoration-[1.3px]">Full Stack</span> разработчик, опытный в
              </>
            ) : (
              <>
                Software <span class="u underline !decoration-[1.3px]">Engineer</span> with 2 years of
                experience as a <span class="u underline !decoration-[1.3px]">Full Stack</span> developer,
                experienced in
              </>
            )
          }
          <span class="u md:underline md:!decoration-red-600">Angular</span>,
          <span class="u md:underline md:!decoration-orange-400">Astro</span>,
          <span class="u md:underline md:!decoration-sky-400">React</span>, Firebase, Ionic, Capacitor
          {t("and")} Tailwind.
        </p>
        <p>
          {t("phrase1")}
          <!-- {t("phrase2")} -->
        </p>
        <p>
          {t("phrase3")}
        </p>
      </div>
    </section>
    <Projects />
    <Contact />
  </main>
</Layout>
