---
const baseURL = import.meta.env.BASE_URL
---

<head>
  <meta http-equiv="refresh" content={"0;url=" + baseURL + "en"} />
  <meta property="og:url" content="https://ferran.tech/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Ferran Ramírez Martí - ferranJS" />
  <meta property="og:description" content="Ferran Ramírez, full stack developer and software engineer." />
  <meta property="og:image" content="https://ferran.tech/link-preview.jpg" />
  <meta property="twitter:card" content="gallery" />
  <meta property="twitter:title" content="Ferran Ramírez Martí - ferranJS" />
  <title>Ferran Ramírez Martí - ferranJS</title>
  <meta property="description" content="Ferran Ramírez Martí, full stack developer and software engineer." />
  <meta property="twitter:description" content="Ferran Ramírez, full stack developer and software engineer." />
  <meta property="twitter:url" content="https://ferran.tech/" />
  <meta property="twitter:image" content="https://ferran.tech/link-preview.jpg" />
  <link rel="canonical" href="https://www.ferran.techS" />

  <script define:vars={{ baseURL }}>
    document
      .querySelector("meta")
      .setAttribute("content", "0;url=" + baseURL + navigator.languages[0].split("-")[0])
  </script>
</head>
