---
import Layout from "../../../layouts/Layout.astro"
import { getCollection } from "astro:content"
import { languages } from "../../../i18n/languages"
import { useTranslations } from "../../../i18n/utils"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = Astro.params.language
const t = useTranslations(lang)
const allBlogPosts = (await getCollection("blogpost")).filter(post => !post.data.hidden)
---

<Layout
  title="ferranJS Blog"
  description="ferranJS blog"
  backButton="/"
  ogDescription="Ferran Ramírez Martí Tech & Software Dev Blog."
  ogImgUrl="https://ferran.tech/webp/blog.webp"
>
  <main id="blogpost" class="flex h-[calc(100vh-68px)] flex-col items-center justify-center gap-2 px-7">
    <h1 class="mb-10 text-center font-primary text-4xl font-semibold">
      <strong>ferranJS</strong>
      <span class="indigo-wavy !decoration-[3px] !underline-offset-[6px]"> Blog</span>
    </h1>
    <p class="max-w-2xl text-xl font-thin">
      {t("blogPageText")}
    </p>
    <ul class="mt-6 max-w-3xl">
      {
        allBlogPosts.map(blogpost => (
          <li class="mb-6 list-disc">
            <a href={"/" + lang + "/blog/" + blogpost.slug} class="group flex flex-col gap-1">
              <h3
                class="indigo-wavy font-primary text-2xl font-bold !decoration-transparent !decoration-2 duration-500 group-hover:underline group-hover:!decoration-indigo-400"
                transition:name={"project-image-" + blogpost.slug}
              >
                <Fragment set:html={blogpost.data.title} />
              </h3>
              <span class="text-sm font-thin">
                {blogpost.data.author} · {t(blogpost.data.month) + " " + blogpost.data.year} ·
                {blogpost.data.readTimeMinutes + " " + t("min read")}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
