---
import Layout from "../../../layouts/Layout.astro"
import { getCollection } from "astro:content"
import { languages } from "../../../i18n/languages"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const allBlogPosts = await getCollection("blogpost")
---

<Layout title="FerranJS Blog" description="FerranJS blog" backButton={true}>
  <main id="blogpost" class="flex h-[calc(100vh-68px)] flex-col items-center justify-center gap-2">
    <h2 class="mb-10 text-center font-heming text-5xl font-bold">FerranJS Blog</h2>
    <p class="max-w-2xl text-xl font-thin">
      Check out my abundant blog posts, half made with chatgpt and half made with my own brain.
    </p>
    <ul class="mt-6">
      {
        allBlogPosts.map(blogpost => (
          <li class="mb-6">
            <a href={"blog/" + blogpost.slug} class="u underlined text-2xl font-bold">
              {blogpost.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
