<div
  class="background -z-10 [&>span]:text-[#579aff27] [&>span]:dark:text-[#01040927] [&>span]:sm:text-[#74acff24]"
  id="background"
>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span
    id="main"
    class="!left-[-8%] !top-[42%] !h-[111vmin] !w-[108vmin] !bg-main-span ease-in-out sm:!left-5 sm:!top-0 sm:!h-[100vmin] sm:!w-[100vmin]"
  ></span>
</div>
<style>
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .background span {
    width: 200vmin;
    height: 200vmin;
    border-radius: 70vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .background span#main {
    top: 24%;
    left: 30%;
    animation-duration: 34s;
    animation-delay: -391s;
    transform-origin: 20vw -4vh;
    box-shadow: 100vmin 0 12.96574389927583vmin currentColor;
    animation: none;
  }
  .background span:nth-child(0) {
    top: 24%;
    left: 30%;
    animation-duration: 34s;
    animation-delay: -391s;
    transform-origin: 20vw -4vh;
    box-shadow: 100vmin 0 12.96574389927583vmin currentColor;
  }
  .background span:nth-child(1) {
    top: 6%;
    left: 18%;
    animation-duration: 37s;
    animation-delay: -127s;
    transform-origin: -8vw 18vh;
    box-shadow: 100vmin 0 12.622230603355423vmin currentColor;
  }
  .background span:nth-child(2) {
    top: 71%;
    left: 38%;
    animation-duration: 51s;
    animation-delay: -381s;
    transform-origin: 18vw -21vh;
    box-shadow: -100vmin 0 12.638917077734167vmin currentColor;
  }
  .background span:nth-child(3) {
    top: 59%;
    left: 63%;
    animation-duration: 55s;
    animation-delay: -39s;
    transform-origin: 16vw 17vh;
    box-shadow: 100vmin 0 13.147398918276792vmin currentColor;
  }
  .background span:nth-child(4) {
    top: 39%;
    left: 13%;
    animation-duration: 75s;
    animation-delay: -141s;
    transform-origin: -15vw 6vh;
    box-shadow: -100vmin 0 12.89115533998267vmin currentColor;
  }
  .background span:nth-child(5) {
    top: 33%;
    left: 27%;
    animation-duration: 44s;
    animation-delay: -175s;
    transform-origin: -12vw -24vh;
    box-shadow: -100vmin 0 12.783333595508827vmin currentColor;
  }
  .background span:nth-child(6) {
    top: 41%;
    left: 77%;
    animation-duration: 54s;
    animation-delay: -243s;
    transform-origin: -6vw 15vh;
    box-shadow: 100vmin 0 12.943990213475422vmin currentColor;
  }
  .background span:nth-child(7) {
    top: 73%;
    left: 4%;
    animation-duration: 88s;
    animation-delay: -479s;
    transform-origin: 11vw 24vh;
    box-shadow: 100vmin 0 13.195186970713735vmin currentColor;
  }
  .background span:nth-child(8) {
    top: 61%;
    left: 14%;
    animation-duration: 153s;
    animation-delay: -440s;
    transform-origin: 25vw 5vh;
    box-shadow: 100vmin 0 13.295258120236133vmin currentColor;
  }
  .background span:nth-child(9) {
    top: 94%;
    left: 25%;
    animation-duration: 76s;
    animation-delay: -343s;
    transform-origin: -23vw 23vh;
    box-shadow: 100vmin 0 12.74666449585039vmin currentColor;
  }
  .background span:nth-child(10) {
    top: 64%;
    left: 47%;
    animation-duration: 52s;
    animation-delay: -85s;
    transform-origin: 8vw 18vh;
    box-shadow: -100vmin 0 12.766661906687117vmin currentColor;
  }
  .background span:nth-child(11) {
    top: 75%;
    left: 25%;
    animation-duration: 63s;
    animation-delay: -205s;
    transform-origin: -5vw 0vh;
    box-shadow: 100vmin 0 13.020647837594847vmin currentColor;
  }
</style>
