---
import Project from "./Project.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="projects" class="my-24 scroll-mt-24">
  <h2 class="mb-9 text-center font-heming text-5xl font-bold">{t("Get in touch !")}</h2>
  <div
    class="flex flex-col items-center justify-center px-12 text-[1.2rem] font-thin [&>p]:mb-1 [&>p]:max-w-2xl"
  >
    <p>
      If you like my work and want to bring <span class="u underline !decoration-[1.3px]">your ideas</span> to life
      online, let's collaborate!
    </p>
    <p>Contact me to let me know and discuss your app or website needs.</p>
    <div class="mt-7 flex flex-wrap items-center justify-center gap-5 px-9 text-xl font-bold">
      <a class="flex items-center gap-2" href="https://www.linkedin.com/in/ferran-ramirez/">
        <i class="devicon-linkedin-plain"></i>
        <span class="underlined">LinkedIn</span>
      </a>
      <a class="flex items-center gap-2" href="https://github.com/ferranJS">
        <i class="devicon-github-plain"></i>
        <span class="underlined">Github</span>
      </a>
      <a class="flex items-center gap-2" href="https://twitter.com/ferran_dev">
        <i class="devicon-twitter-plain"></i>
        <span class="underlined">Twitter</span>
      </a>
      <a class="flex items-center gap-2" href="mailto:contact@ferran.tech">
        <span class="u underline !decoration-[1.3px]">contact@ferran.tech</span>
      </a>
    </div>
  </div>
</section>
