---
const { Classes } = Astro.props
---

<footer
  id="footer"
  class={Classes + " group flex snap-start flex-col items-center justify-center gap-4 p-5 md:flex-row"}
>
  <div class="pb-1 md:pr-2">
    ferranJS <span
      class="inline-block rotate-0 transition-transform duration-[5s] ease-in group-hover:rotate-[720deg] group-hover:scale-110"
    >
      ©
    </span>
    {" " + new Date().getFullYear()}
  </div>
  {
    /*<a class="underlined pb-1" href="https://www.linkedin.com/in/ferran-ramirez/">LinkedIn</a>
    <a class="underlined pb-1" href="https://github.com/ferranJS">Github</a>
    <a class="underlined pb-1" href="https://twitter.com/ferran_dev">Twitter</a>*/
  }
</footer>
