---
import { useTranslations } from "../i18n/utils"
import Globe from "./Globe.astro"
import Menu from "./Menu.astro"

const lang = Astro.params.language
const t = useTranslations(lang)
const { backButton } = Astro.props
---

<header class="fixed left-0 right-0 top-0 z-40 p-4 pr-5 font-heming text-lg sm:bg-blurred">
  <nav>
    {
      backButton ? (
        <button
          id="backbutton"
          onclick="history.back()"
          class="underlined !absolute left-0 mx-6 mt-1 cursor-pointer"
        >
          {t("go back")}
        </button>
      ) : null
    }
    <div class="visible flex justify-end sm:hidden" id="menu-button">
      <button
        id="menu-button"
        class="group z-50 flex flex-col items-end"
        onclick="toggleMenu(event.stopPropagation())"
      >
        <span class="m-1 block h-[2.5px] w-9 bg-indigo-400 duration-500 ease-in-out"></span>
        <span class="m-1 block h-[2.5px] w-9 bg-indigo-300"></span>
        <span class="m-1 block h-[2.5px] w-9 bg-indigo-200 duration-500 ease-in-out"></span>
      </button>
    </div>
    <ul
      class="[&>li]:underlined hidden items-center justify-end gap-6 sm:flex [&>li]:flex [&>li]:items-center"
    >
      <li>
        <a class="underlined" href={"/" + lang + "#"}>{t("Home")}</a>
      </li>
      <li>
        <a class="underlined" href={"/" + lang + "#projects"}>{t("Projects")}</a>
      </li>
      <li>
        <a class="underlined" href={"/" + lang + "#contact"}>{t("Contact")}</a>
      </li>
      <li>
        <a class="underlined" href={"/" + lang + "/blog"}>{t("Blog")}</a>
      </li>
      <li>
        <a class="underlined" target="_blank" href="https://github.com/ferranJS/portfolio">
          {t("Github")}
        </a>
      </li>
      <li>
        <button onclick="toggleLanguageMenu(event.stopPropagation())" class="duration-200 hover:scale-110">
          <Globe />
        </button>
      </li>
      <li>
        <button
          onclick="toggleDarkMode(event.stopPropagation())"
          class="flex items-center duration-200 hover:scale-110"
        >
          <div type="checkbox" class="themeToggle mb-[5px] h-5 w-5 duration-700 ease-out"></div>
        </button>
      </li>
    </ul>
  </nav>
</header>
<Menu />
