---
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header class="fixed left-0 right-0 top-0 bg-white/30 p-4 pr-7 font-heming text-lg">
  <nav>
    <div class="visible text-end text-2xl sm:hidden" id="menu-button">| | |</div>
    <ul class="hidden justify-end gap-5 sm:flex">
      <li>
        <a class="underlined" href="/">{t("Home")}</a>
      </li>
      <li>
        <a class="underlined" href="#projects">{t("Projects")}</a>
      </li>
      <li>
        <a class="underlined" href="#contact">{t("Contact")}</a>
      </li>
      <li>
        <a class="underlined" target="_blank" href="https://github.com/ferranJS/portfolio">{t("Github")}</a>
      </li>
    </ul>
  </nav>
</header>
