<header class="fixed left-0 right-0 top-0 bg-white/30 p-4 pr-7 font-heming text-lg">
  <nav>
    <div class="visible text-end text-2xl sm:hidden" id="menu-button">| | |</div>
    <ul class="hidden justify-end gap-4 sm:flex">
      <li>
        <a class="underlined relative block overflow-hidden after:bg-indigo-400" href="/"> Home</a>
      </li>
      <li>
        <a class="underlined relative block overflow-hidden after:bg-indigo-400" href="#projects"> Projects</a>
      </li>
      <li>
        <a class="underlined relative block overflow-hidden after:bg-indigo-400" href="contact"> Contact</a>
      </li>
    </ul>
  </nav>
</header>
