---
import { useTranslations } from "../i18n/utils"
import { languages } from "../i18n/languages"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = Astro.params.language
const t = useTranslations(lang)
---

<section class="flex h-screen items-center" id="hero">
  <div class="px-7 pr-10 text-[1.2rem] font-thin sm:px-24 xl:px-48 [&>p]:mb-1 [&>p]:max-w-2xl">
    <h1 class="mb-2 font-heming text-6xl font-bold sm:text-[5rem]">
      Ferran Ram<span class="text-[3.88rem] font-normal sm:text-[5.2rem]">í</span>rez
    </h1>
    <h2 class="mb-6 font-heming text-4xl font-medium leading-[1.15] sm:text-5xl">
      <span class="indigo-wavy !decoration-[3px] !underline-offset-[5px]"> full stack</span> developer
    </h2>
    <p>
      {
        lang == "es" ? (
          <>
            <span class="indigo-wavy !decoration-[1.3px]">Ingeniero</span> de Software con 2 años de
            experiencia como desarrollador
            <span class="indigo-wavy !decoration-[1.3px]">Full Stack</span>, experimentado en
          </>
        ) : lang == "ca" ? (
          <>
            <span class="indigo-wavy !decoration-[1.3px]">Enginyer</span> de Software amb 2 anys d'experiència
            com a desenvolupador
            <span class="indigo-wavy !decoration-[1.3px]">Full Stack</span>, experimentat en
          </>
        ) : lang == "ru" ? (
          <>
            <span class="indigo-wavy !decoration-[1.3px]">Инженер</span>-программист с двумя годами опыта
            работы в качестве
            <span class="indigo-wavy !decoration-[1.3px]">Full Stack</span> разработчика, имеющего опыт с
          </>
        ) : (
          <>
            Software <span class="indigo-wavy !decoration-[1.3px]">Engineer</span> with 2 years of experience
            as a <span class="indigo-wavy !decoration-[1.3px]">Full Stack</span> developer, experienced in
          </>
        )
      }
      <span class="indigo-wavy !no-underline md:!underline md:!decoration-red-400">Angular</span>,
      <span
        class="indigo-wavy !no-underline md:!underline md:!decoration-orange-400 md:dark:!decoration-orange-200"
        >Astro</span
      >,
      <span class="indigo-wavy !no-underline md:!underline md:!decoration-sky-400 md:dark:!decoration-sky-200"
        >React</span
      >, Firebase, Ionic, Capacitor
      {t("and")} Tailwind.
    </p>
    <p>
      {t("phrase1")}
      <!-- {t("phrase2")} -->
    </p>
    <p>
      {t("phrase3")}
    </p>
  </div>
</section>
