---
const { title, description } = Astro.props
---

<article
  class="group relative aspect-[6/4] w-full duration-[.4s] hover:cursor-[url(White_dot.svg),auto] md:aspect-[4/3] md:w-[calc(50%-0.4rem)] xl:w-[calc(33.33%-0.5rem)]"
>
  <div
    class="absolute z-10 flex h-full w-full items-center justify-center rounded-md bg-black/80 text-white opacity-0 duration-[.4s] group-hover:opacity-100"
  >
    <div class="h-4/6 w-5/6">
      <h3
        class="decoration-3 font-heming text-3xl font-medium underline decoration-indigo-400 decoration-dashed underline-offset-4"
      >
        {title}
      </h3>
      <p class="mt-2 text-sm">
        {description}
      </p>
      <slot name="" />
    </div>
  </div>
  <img
    src="https://github.com/ferranJS/astro-tailwind-landing-0/blob/main/public/landing-screenshot.png?raw=true"
    class="pointer-events-none absolute z-0 h-full w-full rounded-md object-cover grayscale transition-all duration-[.4s] group-hover:blur-[2px]"
  />
</article>
