---
import { useTranslations } from "../i18n/utils"
import ExternalLink from "./ExternalLink.astro"

const { project } = Astro.props

const lang = Astro.params.language
const t = useTranslations(lang)
---

<div class="my-9 flex flex-wrap gap-3">
  {
    project.data.urls.map(url => (
      <a
        class="group/link hover flex w-max flex-wrap items-center justify-center gap-1.5 rounded-full border-2 border-color-base px-4 py-2 font-heming text-lg text-color-base duration-300 hover:bg-black/60 hover:text-white hover:dark:bg-white/60 hover:dark:text-gray-900"
        href={url.url}
        target="_blank"
      >
        {t(url.name)} <ExternalLink />
      </a>
    ))
  }
</div>
