---
import Project from "../components/Project.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="projects" class="mb-5 animate-[bg-color-shift-flipped_15s_infinite] scroll-mt-24 pt-6">
  <h2 class="mb-12 text-center font-heming text-4xl font-medium">Projects</h2>
  <div class="flex flex-wrap">
    <!-- <Project
      title="Zaax Golf App"
      description={t("zaaxDescription")}
      imgUrl="/zaax.webp"
      url="https://zaaxsports.com/"
    />
    <Project
      title="Atum Mobile App"
      description={t("atumDescription")}
      imgUrl="/atum.webp"
      url="https://stockmanagementlabs.com/addons/atum-mobile-app/"
    />
    <Project
      title="Milv.es"
      description={t("milvDescription")}
      imgUrl="/milv.webp"
      url="https://milv.es/app/#/login"
    /> -->
    <!-- ! https://milv.es/app/#/livescoring/75 -->
    <Project
      title="3D Potato Studios"
      description={t("potatostudiosDescription")}
      imgUrl="/3dpotatostudiosplaceholder.webp"
    />
    <Project title="Tasle" description={t("tasle")} imgUrl="/tasle.webp" />
    <Project
      title="La Velada 3 remake"
      description={t("lavelada3remakeDescription")}
      imgUrl="/lavelada3remake.webp"
    />
    <Project title="Discordish" description={t("discordishDescription")} imgUrl="/discordish.webp" />
    <!-- <Project
      title="This website"
      description="Built almost in its totality in a few days."
      imgUrl="/thiswebsite.webp"
    /> -->
  </div>
</section>
