---
import Project from "../components/Project.astro"
---

<section id="projects" class="mb-5 animate-[bg-color-shift-flipped_15s_infinite] scroll-mt-24 pt-6">
  <h2 class="mb-12 text-center font-heming text-4xl font-medium">Projects</h2>
  <div class="flex flex-wrap">
    <Project
      title="Tesla Clone"
      description="Dolorem minima, at alias tempora iste inventore modi eaque quod, rem sunt veniam nesciunt ad voluptate laborum numquam quas libero reprehenderit!"
    />
    <Project
      title="laVelada.es remake"
      description="Officiis modi necessitatibus quod tempore quibusdam expedita, ullam tempora corrupti dolor, nisi perferendis at esse architecto excepturi"
    />
    <Project
      title="Discordish"
      description="Porro enim labore numquam ea, dolore accusantium consectetur optio, praesentium itaque quam assumenda qui nam doloribus repudiandae, rem minus debitis. Libero, itaque!"
    />
    <Project
      title="This website"
      description="Sunt esse odit cumque in libero officiis assumenda exercitationem quasi nemo ab tempora reiciendis"
    />
  </div>
</section>
