---
import ExternalLink from "./ExternalLink.astro"

const { title, description, imgName, url } = Astro.props
---

<article
  class="group/article relative aspect-[9/6] w-full duration-[.4s] hover:cursor-[url(/White_dot.svg),auto] hover:max-md:!aspect-[3/4] sm:aspect-[9/7] md:aspect-square md:w-[calc(50%-0.5rem)] lg:aspect-[8/5] xl:aspect-[9/7] xl:w-[calc(33.33%-0.5rem)]"
  id={title}
>
  <div
    class="absolute z-10 flex h-full w-full items-center justify-center bg-black/80 text-white opacity-0 duration-[.4s] group-hover/article:opacity-100 md:text-sm"
  >
    <div
      class="pointer-events-none hidden h-[90%] w-10/12 flex-col justify-between group-hover/article:pointer-events-auto group-hover/article:flex lg:h-[80%]"
    >
      <div>
        <h3
          class="decoration-3 pt-4 font-heming text-2xl font-medium underline decoration-indigo-400 decoration-dashed underline-offset-4 md:pt-2"
        >
          {title}
        </h3>
        <p class="mt-1">
          {description}
        </p>
      </div>
      <div class="flex items-baseline justify-between gap-3">
        <div class="flex items-baseline gap-3 xl:gap-4">
          <slot name="techs" />
        </div>
        {
          url ? (
            <a
              class="group/link flex h-11 w-11 items-center justify-center text-4xl text-white duration-300 before:absolute before:h-11 before:w-11 before:rounded-full before:bg-white/30 before:duration-300  before:hover:scale-110 before:hover:bg-white/70"
              href={url}
              target="_blank"
            >
              <ExternalLink />
            </a>
          ) : null
        }
      </div>
    </div>
  </div>
  <picture>
    <source srcset={"/avif/" + imgName + ".avif"} type="avif" />
    <source srcset={"/webp/" + imgName + ".webp"} type="webp" />
    <img
      src={"/avif/" + imgName + ".avif"}
      class="pointer-events-none absolute z-0 h-full w-full object-cover opacity-90 grayscale-[0.3] transition-all duration-[.4s] group-hover/article:blur-[2px]"
    />
  </picture>
</article>
