---
import { languages } from "../../i18n/languages"
import { useTranslations } from "../../i18n/utils"
import Layout from "../../layouts/Layout.astro"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = Astro.params.language
const t = useTranslations(lang)
---

<Layout title="Ferran Ramírez Martí CV" description="metaDescription" backButton=" ">
  <!-- <iframe
    src="https://docs.google.com/document/d/1VE-CcswgNfdYQjF7OyunVddZYfZcG7sMyCpjCDKcJDQ/edit?usp=sharing"
    class="mt-16 h-full w-full hidden lg:block"></iframe>
    <iframe
    src="https://docs.google.com/document/u/0/d/1VE-CcswgNfdYQjF7OyunVddZYfZcG7sMyCpjCDKcJDQ/mobilebasic?pli=1"
    class="mt-16 h-full w-full lg:hidden"></iframe> -->
  <div class="mt-20 flex h-full justify-center">
    <iframe
      src="https://docs.google.com/document/d/1VE-CcswgNfdYQjF7OyunVddZYfZcG7sMyCpjCDKcJDQ/edit?usp=sharing"
      class="z-30 h-full w-full overflow-visible md:w-[80%]"></iframe>
  </div>
</Layout>
