---
import Layout from "../../layouts/Layout.astro"
import Projects from "../../components/Projects.astro"
import { useTranslations } from "../../i18n/utils"
import { languages } from "../../i18n/languages"
import Contact from "../../components/Contact.astro"
import Hero from "../../components/Hero.astro"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(languages)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = Astro.params.language
const t = useTranslations(lang)
---

<Layout title="Ferran Ramírez Martí - ferranJS" description="metaDescription">
  <main>
    <Hero />
    <Projects />
    <Contact />
  </main>
</Layout>
