---
import { getLangFromUrl } from "../i18n/utils"

interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props

const lang = getLangFromUrl(Astro.url)
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/devicons.min.css" />
    <link rel="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:url" content="https://ferran.tech/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FerranJS" />
    <meta property="og:description" content="Ferran Ramírez, full stack developer and software engineer." />
    <meta property="og:image" content="https://ferran.tech/link-preview.jpg" />
    <meta property="twitter:card" content="gallery" />
    <meta property="twitter:title" content="FerranJS" />
    <meta
      property="twitter:description"
      content="Ferran Ramírez, full stack developer and software engineer."
    />
    <meta property="twitter:url" content="https://ferran.tech/" />
    <meta property="twitter:image" content="https://ferran.tech/link-preview.jpg" />
  </head>
  <body class="overflow text-gray-700">
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Heming Variable;
    src: url("/fonts/heming.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }

  /* anchor underlines */
  .underlined {
    @apply relative inline-block overflow-hidden after:bg-indigo-400;
  }
  .underlined::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1.6px;
    opacity: 0;
    transition: 0.4s;
    opacity: 1;
    transform: translate3d(-101%, 0, 0);
  }
  .underlined:hover::after {
    transform: translate3d(0, 0, 0);
  }
</style>
